/*===================================================================================*/
/*===================================================================================*/
/*MODAL*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    /*    min-width: 968px;*/
    /*    max-width: 968px;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 18px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #d2b03f;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: rgb(1, 5, 15);
    color: rgb(194, 206, 233);
    margin-bottom: 10px;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: rgb(1, 5, 15);
    color: white;
    height: 20px;
}
/*MODAL*/
/*===================================================================================*/
/*===================================================================================*/

/*===================================================================================*/
/*===================================================================================*/
/*FORM FORMAT*/
.form-group {
    display: flex;
    flex-direction: row;
}

.form-group label {
    flex: none;
    display: block;
    width: 125px;
    font-weight: bold;
    font-size: 1em;
}
.form-group label.right-inline {
    text-align: right;
    padding-right: 8px;
    padding-left: 10px;
    width: auto;
}

.form-group .input-control {
    flex: 1 1 auto;
    display: block;
    margin-bottom: 10px;
    margin-right: 8px;
    padding: 4px;
    margin-top: -4px;
}

.botao {
    padding: 5px 15px;
    margin: 5px;
    min-width: 100px;
}

@media (max-width: 968px) {
    .form-group {
        flex-direction: column;
    }
    .form-group .input-control {
        margin-top: 2px;
    }
    .form-group label.right-inline {
        text-align: left;
        padding-right: 0;
        padding-left: 0;
    }
}
/*===================================================================================*/
/*===================================================================================*/

/*===================================================================================*/
/*===================================================================================*/
/*Inputs config*/
.conta {
    max-width: 80px;
    text-align: center;
}
.natureza {
    max-width: 190px;
    text-align: center;
}
.nivel {
    max-width: 35px;
    text-align: center;
}
.tipoconta {
    max-width: 15px;
    text-align: center;
}
.label_nivel {
    max-width: 50px;
}
/*===================================================================================*/
/*===================================================================================*/
/*list-group*/

.title-list {
    font-weight: 700;
    background-color: #e9ecef;
    border: 1px;
    border-style: solid;
    padding: 2px;
    text-align: center;
    margin-bottom: 5px;
}
.list-group {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}
.control-list {
    padding: 4px;
    margin-top: 5px;
}
